<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <php>
        <const name="PHPUNIT_TESTSUITE" value="true"/>
    </php>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../Statusanzeige 1</directory>
            <directory suffix=".php">../Statusanzeige 2</directory>
            <directory suffix=".php">../Statusanzeige 3</directory>
        </whitelist>
    </filter>
</phpunit>